.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-bar {
  display: flex;
  flex-direction: row-reverse;
}

.action-buttons {
  margin-top: 12px;
  margin-bottom: 12px;
}