<div class="container" nz-row nzJustify="center" nzAlign="middle">
  <div nz-col>
    <div class="reset-password-container" *ngIf="!isSuccess; else Success">
      <h2 nz-typography class="reset-password-container--header">Reset Password</h2>
      <h5 nz-typography class="reset-password-container--sub-header">Enter your email address below and we'll send you an email with a link to set new password.</h5>
      <form nz-form [formGroup]="validateForm" class="reset-password-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your email!">
            <nz-input-group>
              <input nz-input type="email" formControlName="email" nz-input placeholder="Email" nzSize="large"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button class="reset-password-form--button" [nzType]="'primary'" [nzLoading]="isLoading">REQUEST RESET LINK</button>
      </form>
    </div>
    <ng-template #Success>
        <div class="reset-password-container">
          <nz-result
              nzStatus="success"
              nzTitle="Request Success"
              nzSubTitle="If there's a Klaar account linked with this email address, we'll send over instructions to reset your password">
          </nz-result>
        </div>
      
    </ng-template>
    <div nz-row class="back-to-sign-in-btn">
        <a class="back-to-sign-in-link" routerLink="/">Back to sign in</a>
    </div>
  </div>
</div>