.container {
  height: 100vh;
  width: 100vw;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.new-password-container {
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
  background-color: #fff;
  max-width: 360px;
  min-width: 360px;

  &--header {
    font-weight: 700;
    margin: 32px;
  }
}

.ant-result {
  padding-bottom: 32px;
}

::ng-deep nz-alert {
  &.new-password-alert {
    margin-left: 32px;
    .ant-alert {
      padding: 0px;
    }
    .ant-alert-error {
      background-color: #fff;
      border: none;
    }
    .ant-alert-success {
      background-color: #fff;
      border: none;
    }
  }
}

.new-password-form {
  min-width: 300px;
  margin: 32px;

  &--button {
    width: 100%;
    height: 40px;
  }
}

::ng-deep nz-spin {
  &.new-password-spin {
    text-align: center;
    padding-bottom: 32px;
  }
}
