<div class="container" nz-row nzJustify="center" nzAlign="middle">
  <div nz-col>
    <div class="new-password-container" *ngIf="!isSuccess; else Success">
      <h2 nz-typography class="new-password-container--header">Set New Password</h2>
      <nz-alert class="new-password-alert" *ngIf="lengthValidationDisplay$ | async; else Error1" nzType="success"
        nzMessage="is between 8 to 24 characters" nzShowIcon></nz-alert>
      <ng-template #Error1>
        <nz-alert class="new-password-alert" nzType="error" nzMessage="is between 8 to 24 characters" nzShowIcon>
        </nz-alert>
      </ng-template>
      <nz-alert class="new-password-alert" *ngIf="uppercaseValidationDisplay$ | async; else Error2" nzType="success"
        nzMessage="contains at least 1 uppercase character" nzShowIcon></nz-alert>
      <ng-template #Error2>
        <nz-alert class="new-password-alert" nzType="error" nzMessage="contains at least 1 uppercase character"
          nzShowIcon></nz-alert>
      </ng-template>
      <nz-alert class="new-password-alert" *ngIf="numberValidationDisplay$ | async; else Error3" nzType="success"
        nzMessage="contains at least 1 number" nzShowIcon></nz-alert>
      <ng-template #Error3>
        <nz-alert class="new-password-alert" nzType="error" nzMessage="contains at least 1 number" nzShowIcon>
        </nz-alert>
      </ng-template>
      <nz-alert class="new-password-alert" *ngIf="specialCharValidationDisplay$ | async; else Error4" nzType="success"
        nzMessage="contains at least 1 special character" nzShowIcon></nz-alert>
      <ng-template #Error4>
        <nz-alert class="new-password-alert" nzType="error" nzMessage="contains at least 1 special character"
          nzShowIcon></nz-alert>
      </ng-template>
      <form nz-form [formGroup]="validateForm" class="new-password-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your password!">
            <nz-input-group [nzSuffix]="suffixTemplate">
              <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" nz-input
                placeholder="Password" nzSize="large" />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible = !passwordVisible"></i>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <button nz-button class="new-password-form--button" [nzType]="'primary'" [nzLoading]="isLoading">RESET
          PASSWORD</button>
      </form>
    </div>
    <ng-template #Success>
      <div class="new-password-container">
        <nz-result nzStatus="success" nzTitle="Password Reset Success"
          nzSubTitle="Your password has been set. Wait while redirecting to the dashboard.">
        </nz-result>
        <nz-spin nzSimple class="new-password-spin" [nzSize]="'large'"></nz-spin>
      </div>
    </ng-template>
  </div>
</div>