<ng-container *ngIf="previewTemplate">
  <nz-breadcrumb>
    <nz-breadcrumb-item routerLink="../../templates">Templates</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{previewTemplate.header}}
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <h1 class="preview-header">
    {{previewTemplate.header}}
  </h1>
  <h3>
    Description -
  </h3>
  <p>
    {{previewTemplate.longContent}}
  </p>
  <div *ngIf="!loadingAnalysis && questionClassificationsAggregate && questionClassificationsAggregate.length">
    <app-classification-chart [questionClassificationsAggregate]="questionClassificationsAggregate"></app-classification-chart>
  </div>
  <h3>
    Questions -
  </h3>
  <p nz-typography nzType="secondary" *ngIf="loadingAnalysis">Loading question analysis...</p>
  <div>
    <ul>
      <li *ngFor="let question of previewTemplate.questions;let i = index">
        <h4>
          {{question}}
          <app-classification-pill [questionClassification]="questionClassifications[i]?.label">
          </app-classification-pill>
        </h4>
      </li>
    </ul>
  </div>
  <div class="action-btns">
    <button nz-button nzType="default" (click)="goBack()">Go Back</button>
    <button class="proceed-btn" nz-button nzType="primary" (click)="proceedWithPreviewedTemplate()">Proceed</button>
  </div>
</ng-container>